.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.category.programming{
    background-color: #57c4ff31;
}
.category.jobs{
    background-color: #da85c731;
}
.category.project{
    background-color: #7fb88133;
}
.category.UI-UX{
    background-color: #ff795736;
}
.category.JavaScript{
    background-color: #ffb04f45;
}
.category.interview{
    background-color: #5e4fff31;
}
